<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBnNAqvTfEFBWmDpjnkikQWWJfR6ZlrSu4</string>
	<key>GCM_SENDER_ID</key>
	<string>1095505861301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.notamy</string>
	<key>PROJECT_ID</key>
	<string>notamy-90c4e</string>
	<key>STORAGE_BUCKET</key>
	<string>notamy-90c4e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095505861301:ios:5ce38609b5e971bdc67cfc</string>
	<key>DATABASE_URL</key>
	<string>https://notamy-90c4e-default-rtdb.firebaseio.com</string>
</dict>
</plist>